page-home {
    @import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
    .diag {
        background-image: url('../../assets/imgs/b.jpg');
        background-size: cover;
        height: 100vh;
    }
    .grid {
        
    }
    #bar {
        margin-top: 110%;
        text-shadow: 2px 2px #EA4A02;
    }
    #txt {
        font-family: 'Dancing Script', cursive;
        // color:#BC4B51;
        color: #CED3DC;
    }
    #txt1 {
        font-family: 'Ruge Boogie', cursive;
        color: #F8E659;
    }
    #txt2 {
        font-family: 'Dancing Script', cursive;
        color: #EDF6F4;

    }
    #txt3 {
        color: #CEC5E0;
    }
    #txt4 {
        color: #0586AD;
    }
    .swiper-pagination-bullet-active {
        background-color: #FFEE34 !important;
    }
    .swiper-pagination {
        bottom: 8% !important;
    }
}
